{% extends 'base.html' %}
{% load static %}
{% block booking %}
    <div class="content">
    <div>
      <h2 class="mb-5 text-center">К сожалению, эта страница не реализована</h2>
      <div>
          <p>Введите количество человек от 1 до 20:</p>
          <p><input type="number" size="3" id="num_peoples" name="num" min="1" max="20" value="1"></p>
          <p>Выберите удобное время:</p>
          <p><select class="time" name="select" size="3" id="time">
            <option selected value="9,00">9:00</option>
            <option value="9,30">9:30</option>
            <option value="10,00">10:00</option>
            <option value="10,30">10:30</option>
            <option value="11,00">11:00</option>
            <option value="11,30">11:30</option>
            <option value="12,00">12:00</option>
            <option value="12,30">12:30</option>
            <option value="13,00">13:00</option>
            <option value="13,30">13:30</option>
            <option value="14,00">14:00</option>
            <option value="14,30">14:30</option>
            <option value="15,00">15:00</option>
            <option value="15,30">15:30</option>
            <option value="16,00">16:00</option>
            <option value="16,30">16:30</option>
            <option value="17,00">17:00</option>
            <option value="17,30">17:30</option>
            <option value="18,00">18:00</option>
            <option value="18,30">18:30</option>
            <option value="19,00">19:00</option>
            <option value="19,30">19:30</option>
            <option value="20,00">20:00</option>
            <option value="20,30">20:30</option>
            <option value="21,00">21:00</option>
          </select></p>
      </div>
        <button class="btn btn-success booking">Найти подходящие варианты</button>
      <div class="table-responsive reservations d-none">
        <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col">Название</th>
              <th scope="col">Кол-во свободных столиков</th>
              <th scope="col">Кол-во свободных мест</th>
              <th scope="col">Средний чек</th>
              <th scope="col">Среднее время ожидания</th>
              <th scope="col"></th> {# Ссылка подробнее#}
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>

  </div>

    <template id="reservationTemplate">
          <tr>
            <td>
              <div class="title">–</div>
            </td>
            <td>
              <div class="tables_count">–</div>
            </td>
            <td>
              <div class="free_seats_count">–</div>
            </td>
            <td>
              <div class="avg_check">–</div>
            </td>
            <td>
              <div class="avg_time">–</div>
            </td>
            <td>
              <a href="" class="btn btn-default show-more">Подробнее</a>
            </td>
          </tr>
</template>

    <script src="{% static 'js/backend/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/backend/backend.js' %}"></script>
    <script src={% static 'js/booking.js' %}></script>
    <script src="{% static 'js/booking_templates.js' %}"></script>

{% endblock %}
